@define-color active rgba(204, 204, 204, 0.1);
@define-color inactive rgba( 14, 14, 23, 0.80);
@define-color back-color rgba(12, 12, 12, 0.4);
@define-color back rgba( 14, 14, 23, 0.5); /* rgba(14, 14, 23, 0.55); */


/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

window {
    font-family: monospace;
    font-size: 14pt;
    color: #cdd6f4; /* text */
    background-color: @back;

}

/* -----------------------------------------------------
 * Button
 * ----------------------------------------------------- */

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-color: @inactive;

    border-radius: 50px;
    margin: 5px;

    animation: gradient_f 20s ease-in infinite;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus,
button:active
button:hover {
    background-color: @back-color;
    color: @color;
}

/* -----------------------------------------------------
 * Lock
 * ----------------------------------------------------- */

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:focus {
    background-image: image(url("./icons/lock-hover.png"));
}

/* -----------------------------------------------------
 * Logout
 * ----------------------------------------------------- */

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:focus {
    background-image: image(url("./icons/logout-hover.png"));
}

/* -----------------------------------------------------
 * Suspend
 * ----------------------------------------------------- */

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:focus {
    background-image: image(url("./icons/sleep-hover.png"));
}

/* -----------------------------------------------------
 * Shutdown
 * ----------------------------------------------------- */

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:focus {
    background-image: image(url("./icons/power-hover.png"));
}

/* -----------------------------------------------------
 * Reboot
 * ----------------------------------------------------- */

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:focus {
    background-image: image(url("./icons/restart-hover.png"));
}

/* -----------------------------------------------------
 * Hibernate
 * ----------------------------------------------------- */

#hibernate {
   background-image: image(url("./icons/hibernate.png"));
}
#hibernate:focus {
   background-image: image(url("./icons/hibernate-hover.png"));
}
