@define-color back rgba( 14, 14, 23, 0.85);
@define-color color #CCCCCC;
@define-color borders #0E0E0E;
@define-color inactives rgba(204, 204, 204, 0.3);
@define-color urgent #FFFFFF;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "DaddyTimeMono", Mono;
    font-weight: Bold;
    font-size: 14px;
    border: none;
}

window#waybar {
    background-color: @back;
    color: @color;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.8;
    border-radius: 20px 20px 0px 0px;
    padding: 3px;
}


/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces button {
    padding: 4px 8px;
    color: @inactives;
}

#workspaces button.active {
    color: @urgent;
    transition: all 0.3s ease-in-out;
}

#workspaces button.focused {
    color: @color;
    border-radius: 10px;
   }

#workspaces button.urgent {
    color: @urgent;
    border-radius: 10px;
}

#workspaces button:hover {
    color: @color;
    background: @back;
}


/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    color: @color;
    background: @back;
    border-color: @borders;
    border-radius: 10px;
    border-width: 2px;
}





/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-nix,
#gamemode,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#backlight,
#wireplumber,
#battery,
#temperature,
#cpu,
#memory,
#gamemode,
#tray {
    padding: 1px 10px;
    color: @color;
    border: 1px solid rgba (0, 0, 0, 0);
    background-clip: padding-box;
}


/* -----------------------------------------------------
 * Window and Clock
 * ----------------------------------------------------- */

#window {
    color: @color;
    font-size: 16px;
    font-weight: normal;
}

#clock {
    color: @color;
}


/* -----------------------------------------------------
 * Workspaces and Nix Logo
 * ----------------------------------------------------- */

#workspaces {
    color: @color;
}

#custom-nix {
    color: @color;
}


/* -----------------------------------------------------
 * Gamemode
 * ----------------------------------------------------- */

#gamemode {
    color: @color;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    color: @color;
}



/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#bluetooth,
#network {
    color: @color;
}


/* -----------------------------------------------------
 * Cpu and Ram
 * ----------------------------------------------------- */

#cpu {
    color: @color;
}

#memory {
    color: @color;
}

/* -----------------------------------------------------
 * Battery and Temperature
 * ----------------------------------------------------- */

#battery {
    color: @color;
}

#temperature {
    color: @color;
}


/* -----------------------------------------------------
 * Audio and Backlight
 * ----------------------------------------------------- */

#wireplumber {
    color: @color;
}

#backlight {
    color: @color;
}
